services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  redisinsight:
    image: redis/redisinsight:latest
    ports:
      - "8001:5540"
    volumes:
      - redisinsight_data:/data
    depends_on:
      - redis
    restart: unless-stopped

  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: hunter
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
      image: dpage/pgadmin4
      restart: unless-stopped
      ports:
        - "5050:80"
      environment:
        PGADMIN_DEFAULT_EMAIL: admin@hunter.com
        PGADMIN_DEFAULT_PASSWORD: admin
      depends_on:
        - postgres
      volumes:
        - pgadmin_data:/var/lib/pgadmin

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - postgres

  app:
    build: .
    depends_on:
      - redis
      - postgres
    env_file:
      - .env
    environment:
      - REDIS_URL=${REDIS_URL:-redis://redis:6379/0}
      - PORT=${PORT:-8080}
    ports:
      - "${PORT:-8080}:${PORT:-8080}"
    volumes:
      - .:/app
      - ./logs:/app/logs
    command: ["python", "-m", "run"]

volumes:
  redisinsight_data:
  postgres_data:
  pgadmin_data:
  grafana_data: