fastapi==0.119.1
httpx==0.28.1
numba==0.61.2
pandas==2.3.3
pandas_ta==0.4.71b0
py_clob_client==0.27.0
pydantic==2.12.3
pydantic_settings==2.11.0
python-dotenv==1.1.1
redis==5.0.8
web3==7.14.0
websocket_client==1.9.0
